* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
}

nav{
    height: 20%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
}

.yellow{
    width: 50%;
    height: 50%;
    margin: auto;       
    background-color: #DAA520;
    border: 1px dashed black;
    display: flex;
}

.text-left, .text-right{
    padding-top: .5rem;
    width: 30%;
}

.text-left{
    margin-left: .5rem;
}

.contenuto{
    border: 1px dashed black;
    width: 40%;
    padding-top: .5rem;
    text-align: center;
}

.text-right{
    text-align: end;
    padding-right: .5rem;
}

.blue{
    height: 80%;
    background-color: #00008B;
    display: flex;
    justify-content: center;
}

.pink{
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: #EE82EE;
    border: 1px dashed black;
}

.blocco{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2rem;
}


.left-1, .right-2{
    flex: 0 0 60%;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.right-1, .left-2{
    flex: 0 0 20%;
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.inverted, .container-green{
    background-color: #D3D3D3;
}

.container-green{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2rem;
}

.green{
    background-color: green;
    border: 1px dashed black;
    height: 95%;
    width: 50%;
}

.container-black{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 2rem;
    background-color: #23272A;
}

.black{
    background-color: green;
    height: calc(70% - 2rem);
    width: 50%;
    display: flex;
}

.salmon{
    flex: 0 0 40%;
    background-color: salmon;
    border: 1px dashed black;
}

.azzurro{
    flex: 0 0 15%;
    background-color: #20B2AA;
    border: 1px dashed white;
}

hr{
    border: 1px solid #9F9F9F;
    width: 100%;
    margin-top: 1.5rem;
}

.black-footer{
    margin-top: 1.5rem;
    height: calc(30% - 2rem);
    background-color: #7FFFD4;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.text-footer{
    background-color: salmon;
    height: max-content;
    margin-top: 1rem;
    border: 1px dashed black;
}